
<!DOCTYPE HTML>
<html>
<head>


</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<%- include('sidepanel'); -%>
	</div>
<section>
	<div>
		<h2>hello</h2>
		<p>occured</p>
	</div>
</section>
<%- include('added'); -%>
</body>
</html>