
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="css/form.css">

</head> 
<body class="cbp-spmenu-push">
	
<section>
	



	<div class="wrapper" style="background-image: url('images/images.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="images/awesome-feature.webp" alt="">
				</div>
			
				

                    <div class="form-wrapper">
						<h3>Please Enter Valid ID</h3>
						
					</div>
					
				<br/>
                <div style="height: 50px;">

                </div>
                
                <div class="form-wrapper">
                 
					<button type="submit">	<a href="/login"><SPAN style="color: white;">back to Login</SPAN></a>
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    
                </div>
				
		
			</div>
			<div class="wrapper" style="background-image: url('images.jpg');"></div>
	
		
	


</section>
	
<%- include('added'); -%>
	
</body>
</html>

