
<!DOCTYPE HTML>
<html>
<head>


</head> 
<body class="cbp-spmenu-push">

	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
	

	
	</div>

	<section >
		<div style="display: flex; align-items: center; justify-content: center; margin-top: 60px;">
		<div  style="height: 100px;"> </div>
		</div>

		
	</section>

	<section >
		<div>
			<h1>heading</h1>
			<h1><%=nams %></h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugiat, placeat rem debitis at, vel, eligendi ex quas earum minus asperiores quibusdam harum adipisci exercitationem voluptatum quo provident nesciunt natus.</p>
		</div>
		</div>

		
	</section>

	<section >
		<div style="display: flex; align-items: center; justify-content: center; margin-top: 60px;">
		<img src="images/WALLPAPER.jpg"    width="400px" height="300px" alt="">
		</div>

		
	</section>

	

	
	
</body>
</html>
