
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="css/form.css">

</head> 
<body class="cbp-spmenu-push">
	
<section>
	



	<div class="wrapper" style="background-image: url('images/images.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="images/awesome-feature.webp" alt="">
				</div>
				<h1>Login </h1>
				<form action="/login" method="POST">
					<h1> Please Enter Your Credentials</h1>
					

                    <div class="form-wrapper">
						<input name="id" type="text" placeholder="UserID" class="form-control" required>
						<i class="zmdi zmdi-account"></i>
					</div>
					
					<div class="form-wrapper">
						<input name="password" type="password" placeholder="Password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
                        <a href="/register">new user?</a>

					</div>
					
					<button type="submit">LOGIN
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
			
	
		
	


</section>
	

	
</body>
</html>

